asgiref
Django
django-cors-headers
djangorestframework
djangorestframework-simplejwt==5.5.1
greenlet
PyJWT
psycopg2-binary
python-dotenv
SQLAlchemy
sqlparse
typing_extensions
tzdata
pymongo
tiktoken
openai
anthropic
