@tailwind base;
@tailwind components;
@tailwind utilities;

@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

:root {
  
  --color-brain: #a855f7; /* Purple */
  --color-memory: #000000; /* Black */
  --radius: 0.5rem;
}